@mixin flexbox ($dir) {
    display: flex;
    flex-direction: $dir;
}

@mixin wh ($w, $h) {
    width: $w;
    height: $h;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main{
    background-color: black;
    @include wh(100vw,100vh);
    @include flexbox(column);
    justify-content: center;
    align-items: center;
    $themeColor: #0068e6;
    .title{
        @include flexbox(row);
        
        font-family: 'Barlow', sans-serif;
        font-size: 14em;
        color:lightblue;
        text-shadow: 
            0 0 10px white, 
            0 0 20px $themeColor, 
            0 0 30px $themeColor, 
            0 0 40px $themeColor,
            0 0 50px $themeColor,
            0 0 60px $themeColor,
            0 0 70px $themeColor;
        .second{
            margin-left: 0.1em;
            -webkit-animation: fadeIn ease 0.4s;
            -moz-animation: fadeIn ease 0.4s;
            -o-animation: fadeIn ease 0.4s;
            -ms-animation: fadeIn ease 0.4s;
            animation: fadeIn ease 0.8s;
        }
        .frist {
            -webkit-animation: fadeIn ease 0.4s;
            -moz-animation: fadeIn ease 0.4s;
            -o-animation: fadeIn ease 0.4s;
            -ms-animation: fadeIn ease 0.4s;
            animation: fadeIn ease 0.4s;
        }

        .a {
            margin-left: 0.1em;
            -webkit-animation: fadeIn ease 0.4s;
            -moz-animation: fadeIn ease 0.4s;
            -o-animation: fadeIn ease 0.4s;
            -ms-animation: fadeIn ease 0.4s;
            animation: fadeIn ease 1.2s;
        }

        .b {
            margin-left: 0.1em;
            -webkit-animation: fadeIn ease 0.4s;
            -moz-animation: fadeIn ease 0.4s;
            -o-animation: fadeIn ease 0.4s;
            -ms-animation: fadeIn ease 0.4s;
            animation: fadeIn ease 1.6s;
        }

        .c {
            margin-left: 0.1em;
            -webkit-animation: fadeIn ease 0.4s;
            -moz-animation: fadeIn ease 0.4s;
            -o-animation: fadeIn ease 0.4s;
            -ms-animation: fadeIn ease 0.4s;
            animation: fadeIn ease 2s;
        }

        .d {
            margin-left: 0.1em;
            -webkit-animation: fadeIn ease 0.4s;
            -moz-animation: fadeIn ease 0.4s;
            -o-animation: fadeIn ease 0.4s;
            -ms-animation: fadeIn ease 0.4s;
            animation: fadeIn ease 2.4s;
        }
    }
    .button_nav {
        position: absolute;
        bottom:3em;
        @include flexbox(row);
        justify-content: center;
        align-items: center;

        a {
            text-decoration: none;
            button{
                @include wh(25vh,auto);
                padding: 1em 0.3em;
                margin: 0 1em;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 1.4em;
                font-weight: 700;
                border: none;
                border-radius: 0.3em;
                cursor: pointer;
                animation: fadeIn ease-in-out 2s;
                color: rgb(255, 255, 255);
                background-color: $themeColor;
                text-shadow:
                    0 0 10px $themeColor,
                    0 0 20px $themeColor,
                    0 0 30px $themeColor,
                    0 0 40px $themeColor,
                    0 0 50px $themeColor,
                    0 0 60px $themeColor,
                    0 0 70px $themeColor;
                box-shadow: 0 0 15px 5px $themeColor;
            }
            
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

